.App {
    color: #333;
    border-left: 1px solid #aaa;
    border-radius: 4px;
    height: 100vh;
    /*全屏*/
    position: fixed;
    top: 0;
    left: 250px;
    bottom: 0;
    right: 0;
    > .App-header {
  
      height: 160px;
      background: linear-gradient(to right, #6097ed 0%, #61d6e8 100%);
      border: 1px solid #5795ea;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      > h1 {
        font-size: 36px;
        color: #fff;
        padding: 0 0.5em;
      }
      > span{
        padding: 1em;
        color: #fff;
        font-weight: bold;
      }
    }
    > .todoList {
      > li:nth-child(odd) {
        background: #eee;
      }
      > li:nth-child(even) {
        background: transparent;
      }
    }
    > ol{
      background: #fff;
      height: calc(100vh - 160px);
      overflow: scroll;
    }
  }