.forgotPassword{
    > nav {
      font-size: 12px;
      padding: 1em;
      position: relative;
      > .closeWrapper {
        position: absolute;
        width: 48px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        &:hover {
          background: #e81123;
          color: #fff;
        }
      }
    }
    > form {
      > .title {
        font-size: 24px;
        padding: 1.2em 1em;
      }
      > .ask {
        font-size: 15px;
        padding: 1em 2em;
        margin-bottom: 2em;
      }
      > .tip {
        font-size: 16px;
        line-height: 25px;
        padding: 1em 2em;
        margin-top: 1em;
      }
      > button {
        font-size: 14px;
        color: #fff;
        width: 96px;
        height: 32px;
        background: #0078d7;
        border: none;
        position: absolute;
        bottom: 3em;
        &:hover {
          border: 2px solid #004e8c;
        }
      }
      > .continue {
        right: 3em;
      }
      > .back {
        left: 3em;
      }
    }
  }